# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
frontend/dist/

# Electron packaging
dist/
out/

# OS & Editor
.DS_Store
Thumbs.db

# Logs
logs
*.log
*.tsbuildinfo

# Environment Variables
.env
.env.*.local

# VSCode settings
.vscode/

# macOS
*.DS_Store

# Windows
*.lnk
